version: '3.9'

services:
  frontend:
    image: ghcr.io/marchitecht/frontend:latest
    restart: always
    volumes:
      - frontend_data:/usr/share/nginx/html

  nginx:
    image: nginx:stable
    restart: always
    ports:
      - "80:80"
    volumes:
      - frontend_data:/usr/share/nginx/html:ro
    depends_on:
      - frontend

volumes:
  frontend_data: